
<div class="text-right">
  <h4><%= @number_of_submissions_for_round.first.number_of_submissions %> out of <%= @number_of_players.first.number_of_players %> have been submitted</h4>
</div>


<div class="jumbotron">
  <%= link_to "Guessing Round", guessing_round_path(game_code: @game_code, round: @round, thing: @thing.first.thing_id), class: "btn btn-success" %>
  <hr class="my-4">
  <h2>Things...</h2>
  <h1 class="text-center"><%= @thing.first.thing.thing %></h1>
</div>
